<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hi.project.dao.DietDao">

    <select id="checkTodayRecommendCount" resultType="int">
        SELECT COUNT(*) 
        FROM user_event_log 
        WHERE user_num = #{userNum} 
          AND event_type = 'AI_RECOMMEND' 
          AND event_date = #{today}
    </select>

    <insert id="insertRecommendLog">
        INSERT INTO user_event_log (user_num, event_type, event_date) 
        VALUES (#{userNum}, 'AI_RECOMMEND', #{today})
    </insert>

</mapper>