<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hi.project.dao.FavoriteDao">

	<insert id="addFavorite" parameterType="map">
	    INSERT INTO meal_favorites (user_num, mk_num, mf_name)
	    VALUES (
	        #{userNum}, 
	        #{mkNum}, 
	        (
	            SELECT GROUP_CONCAT(f.fo_name SEPARATOR ', ')
	            FROM meal_detail d
	            JOIN food f ON d.fo_num = f.fo_num
	            WHERE d.mk_num = #{mkNum}
	        )
	    )
	</insert>

	<select id="getMealLogsWithFav" resultType="map">
	    SELECT 
	        l.mk_num, 
	        l.mk_image as Mk_image,  
	        DATE_FORMAT(l.mk_created_at, '%Y-%m-%d') as mk_date,
	        DATE_FORMAT(l.mk_created_at, '%H:%i') as mk_time,
	        SUM(d.md_kcal) as totalKcal,
	        GROUP_CONCAT(f.fo_name SEPARATOR ', ') as foods,
	        (SELECT COUNT(*) FROM meal_favorites WHERE mk_num = l.mk_num) as isFav
	    FROM meal_log l
	    LEFT JOIN meal_detail d ON l.mk_num = d.mk_num
	    LEFT JOIN food f ON d.fo_num = f.fo_num
	    WHERE l.user_num = #{userNum}
	    GROUP BY l.mk_num
	    ORDER BY l.mk_created_at DESC
	</select>

	<select id="getFavoriteList" resultType="kr.hi.project.dto.MealFavoritesDTO">
	    SELECT
	        f.mf_num as mfNum,
	        f.mf_name as mfName,
	        l.mk_image as mkImage,
	        l.mk_num as mkNum,
	        l.mk_meal_type as mkMealType,
	        IFNULL(SUM(d.md_kcal), 0) as TotalKcal,
	        GROUP_CONCAT(fd.fo_name SEPARATOR ', ') as FoodListStr
	
	    FROM meal_favorites f
	
	    INNER JOIN meal_log l
	        ON f.mk_num = l.mk_num
	
	    LEFT JOIN meal_detail d
	        ON l.mk_num = d.mk_num
	
	    LEFT JOIN food fd
	        ON d.fo_num = fd.fo_num
	
	    WHERE f.user_num = #{userNum}
	
	    GROUP BY f.mf_num
	</select>

	<delete id="deleteFavorite">
		DELETE FROM meal_favorites WHERE mf_num = #{mfNum}
	</delete>
	
	<select id="getDetailsByMkNum" resultType="map">
	    SELECT f.fo_name, d.md_portion 
	    FROM meal_detail d
	    JOIN food f ON d.fo_num = f.fo_num
	    WHERE d.mk_num = #{mkNum}
	</select>
	
	<select id="getMealLogByMkNum" resultType="map">
	    SELECT mk_image FROM meal_log WHERE mk_num = #{mkNum}
	</select>
	
	<select id="findImageUrlByMkNum" resultType="string">
	    SELECT mk_image 
	    FROM meal_log 
	    WHERE mk_num = #{mkNum}
	</select>
	
</mapper>