<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hi.project.dao.PostDao">

    <select id="selectAllPosts" resultType="kr.hi.project.dto.PostDTO">
        SELECT p.*, u.user_name,
               (SELECT COUNT(*) FROM post_like l WHERE l.post_num = p.post_num) as like_count,
               (SELECT COUNT(*) FROM post_comment c WHERE c.post_num = p.post_num AND c.pc_is_deleted = 0) as comment_count
        FROM post p
        JOIN user u ON p.user_num = u.user_num
        ORDER BY p.post_num DESC
    </select>

    <select id="selectPostByNum" resultType="kr.hi.project.dto.PostDTO">
        SELECT p.*, u.user_name,
               (SELECT COUNT(*) FROM post_like l WHERE l.post_num = p.post_num) as like_count,
               (SELECT COUNT(*) FROM post_comment c WHERE c.post_num = p.post_num AND c.pc_is_deleted = 0) as comment_count
        FROM post p
        JOIN user u ON p.user_num = u.user_num
        WHERE p.post_num = #{postNum}
    </select>

    <insert id="insertPost" parameterType="kr.hi.project.dto.PostRequestDTO">
        INSERT INTO post (user_num, post_title, post_content, post_img_path, post_img_pos)
        VALUES (#{userNum}, #{postTitle}, #{postContent}, #{postImgPath}, #{postImgPos}) 
    </insert>

    <update id="updateViews">
        UPDATE post SET post_views = post_views + 1 WHERE post_num = #{postNum} 
    </update>

    <update id="updatePost" parameterType="kr.hi.project.dto.PostDTO">
        UPDATE post 
        SET post_title = #{postTitle}, 
            post_content = #{postContent}, 
            post_img_path = #{postImgPath},
            post_img_pos = #{postImgPos},
            post_updated_at = NOW()
        WHERE post_num = #{postNum}
    </update>

    <delete id="deletePost">
        DELETE FROM post WHERE post_num = #{postNum}
    </delete>

    <select id="selectPostsWithPaging" resultType="kr.hi.project.dto.PostDTO">
        SELECT p.*, u.user_name,
               (SELECT COUNT(*) FROM post_like l WHERE l.post_num = p.post_num) as like_count,
               (SELECT COUNT(*) FROM post_comment c WHERE c.post_num = p.post_num AND c.pc_is_deleted = 0) as comment_count
        FROM post p
        JOIN user u ON p.user_num = u.user_num
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="category == 'title'">
                        p.post_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="category == 'title_content'">
                        (p.post_title LIKE CONCAT('%', #{keyword}, '%') OR p.post_content LIKE CONCAT('%', #{keyword}, '%'))
                    </when>
                    <when test="category == 'author'">
                        u.user_name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        ORDER BY p.post_num DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectTotalCount" resultType="int">
        SELECT COUNT(*) 
        FROM post p
        JOIN user u ON p.user_num = u.user_num
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="category == 'title'">
                        p.post_title LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="category == 'title_content'">
                        (p.post_title LIKE CONCAT('%', #{keyword}, '%') OR p.post_content LIKE CONCAT('%', #{keyword}, '%'))
                    </when>
                    <when test="category == 'author'">
                        u.user_name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

</mapper>