<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hi.project.dao.UserDao">

	<select id="findByUserid" parameterType="String" resultType="map">
        SELECT * FROM user
        WHERE user_id = #{userId}
    </select>
    
    <insert id="insertUser" parameterType="kr.hi.project.dto.UserDTO">
        INSERT INTO user (user_name, user_id, user_password, user_email)
    	VALUES (#{userName}, #{userId}, #{userPassWord}, #{userEmail})
    </insert>
    
    <select id="findUsernameByUserid" parameterType="string" resultType="string">
    	SELECT user_name FROM user
    	WHERE user_id = #{userId}
	</select>
	
	<select id="findEmailByUserid" parameterType="string" resultType="string">
    	SELECT user_email FROM user
    	WHERE user_id = #{userId}
	</select>
	
	<select id="findUsernumByUserid" parameterType="string" resultType="int">
    	SELECT user_num FROM user
    	WHERE user_id = #{userId}
	</select>
	
	<select id="getUserInfo" resultType="kr.hi.project.dto.UserPrivacyDTO">
	    SELECT 
	    	<!-- 보통정보 -->
	        u.user_num AS userNum,
	        u.user_id AS userId,
	        u.user_name AS userName,
	        u.user_email AS userEmail,
			<!-- 비밀정보 -->
	        p.up_gender AS userGender,
	        p.up_height AS userHeight,
	        p.up_weight AS userWeight,
	        p.up_target_weight AS userTargetweight,
	        p.up_age AS userAge,
	        p.up_act AS userAct,
	        p.up_model AS userModel,
	        <!-- 목표가져오기 -->
	        p.up_daily_kcal AS userDailyKcal,
	        p.up_daily_carbs AS userDailyCarbs,
	        p.up_daily_protein AS userDailyProtein,
	        p.up_daily_fat AS userDailyFat,
	        p.up_daily_natrium AS userDailyNatrium
	
	    FROM user u
	    JOIN user_privacy p ON u.user_num = p.user_num
	    WHERE u.user_num = #{userNum}
	</select>
	
	<select id="findUserAllergies" parameterType="int" resultType="String">
	    SELECT a.al_name
	    FROM user_allergy ua
	    JOIN allergy a ON ua.al_num = a.al_num
	    WHERE ua.user_num = #{userNum}
	</select>
	
	<!-- 목표 -->
	<update id="informationUpdata" parameterType="kr.hi.project.dto.UserPrivacyDTO">
	    UPDATE user u
	    JOIN user_privacy p ON u.user_num = p.user_num
	
	    SET 
	        u.user_name = #{userName},
	        u.user_email = #{userEmail},
	
	        p.up_gender = #{userGender},
	        p.up_height = #{userHeight},
	        p.up_weight = #{userWeight},
	        p.up_target_weight = #{userTargetweight},
	        p.up_age = #{userAge},
	        p.up_act = #{userAct},
	        p.up_model = #{userModel},
	
	        p.up_daily_kcal = #{userDailyKcal},
	        p.up_daily_carbs = #{userDailyCarbs},
	        p.up_daily_protein = #{userDailyProtein},
	        p.up_daily_fat = #{userDailyFat},
	        p.up_daily_natrium = #{userDailyNatrium}
	
	    WHERE u.user_num = #{userNum}
	</update>
	
	<delete id="deleteUserAllergies">
    	DELETE FROM user_allergy WHERE user_num = #{userNum}
	</delete>
	
	<insert id="insertUserAllergy">
	    INSERT INTO user_allergy (user_num, al_num)
	    VALUES (
	        #{userNum}, 
	        (SELECT al_num FROM allergy WHERE al_name = #{alName})
	    )
	</insert>

	<!-- [재근/추가] 눈바디 암호화를 위해 추가 -->
	<select id="findPasswordByUserNum" resultType="string">
        SELECT user_password
        FROM user
        WHERE user_num = #{userNum}
    </select>
    
    <!-- [준성/추가] 목표보기 결과가 여러 영양소(kcal, carbs 등)이므로 Map으로 받습. -->
    <select id="getTodayTotalNutrition" resultType="map">
	    SELECT 
	        IFNULL(SUM(md.md_kcal), 0) AS totalKcal,
	        
	        IFNULL(ROUND(SUM(f.fo_carbs * md.md_portion), 1), 0) AS totalCarbs,
	        IFNULL(ROUND(SUM(f.fo_protein * md.md_portion), 1), 0) AS totalProtein,
	        IFNULL(ROUND(SUM(f.fo_fat * md.md_portion), 1), 0) AS totalFat,
	        IFNULL(ROUND(SUM(f.fo_natrium * md.md_portion), 1), 0) AS totalNatrium
	        
	    FROM meal_detail md
	    JOIN food f ON md.fo_num = f.fo_num
	    JOIN meal_day mday ON md.mday_num = mday.mday_num
	    JOIN meal_week mw ON mday.mw_num = mw.mw_num
	    JOIN meal_month mm ON mw.mm_num = mm.mm_num
	    
	    WHERE mm.user_num = #{userNum}          AND mday.mday_created_at = CURDATE() 
    </select>
    
    <!-- 카카오톡 -->
    <select id="findUserNumByKakaoId" parameterType="string" resultType="java.lang.Integer">
        SELECT user_num 
        FROM user_social_accounts
        WHERE usa_provider = '카톡' AND usa_provider_user_id = #{kakaoId}
    </select>
    
    <insert id="insertSocialUser" parameterType="kr.hi.project.dto.UserDTO" useGeneratedKeys="true" keyProperty="userNum">
        INSERT INTO user (user_id, user_password, user_email, user_name, user_is_social)
        VALUES (#{userId}, null, #{userEmail}, #{userName}, 1)
    </insert>
    
    <insert id="insertSocialAccount" parameterType="map">
        INSERT INTO user_social_accounts (usa_provider, usa_provider_user_id, user_num)
        VALUES ('카톡', #{kakaoId}, #{userNum})
    </insert>
    
    <select id="findUserByEmail" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM user WHERE user_email = #{userEmail}
    </select>

    <insert id="insertSocialUserWithEmail" parameterType="kr.hi.project.dto.UserDTO" useGeneratedKeys="true" keyProperty="userNum">
        INSERT INTO user (user_id, user_password, user_email, user_name, user_is_social)
        VALUES (#{userId}, null, #{userEmail}, #{userName}, 1)
    </insert>
    <!-- 카카오톡 -->
    
    <!-- 한끼영양성분 -->
    <select id="getMealNutrition" resultType="map">
	    SELECT 
	      mk.mk_num AS mkNum,  
	      md.mday_num AS mdayNum,
	      IFNULL(SUM(md.md_kcal), 0) AS kcal,
	      IFNULL(ROUND(SUM(f.fo_carbs * md.md_portion), 1), 0) AS carbs,
	      IFNULL(ROUND(SUM(f.fo_protein * md.md_portion), 1), 0) AS protein,
	      IFNULL(ROUND(SUM(f.fo_fat * md.md_portion), 1), 0) AS fat,
	      IFNULL(ROUND(SUM(f.fo_natrium * md.md_portion), 1), 0) AS sodium
	  FROM meal_detail md
	  JOIN food f ON md.fo_num = f.fo_num
	  JOIN meal_log mk ON md.mk_num = mk.mk_num
	  
	  WHERE mk.user_num = #{userNum} 
	    AND DATE(mk.mk_created_at) = CURDATE() 
	    AND mk.mk_meal_type = #{mealType}
	    
	  GROUP BY mk.mk_num, md.mday_num
  	</select>
  	
  	<!-- 음식검색 -->
  	<select id="searchFoodByKeyword" resultType="kr.hi.project.dto.FoodDTO">
        SELECT 
            fo_num        AS foNum,
            fo_name       AS foName,
            fo_base_gram  AS foBaseGram,
            fo_type       AS foType
        FROM food 
        WHERE fo_name LIKE CONCAT('%', #{keyword}, '%')
    </select>
    
	<!-- 좋아하는 음식, 싫어하는 음식초기화 -->
    <delete id="deleteFoodFavorites">
        DELETE FROM food_favorite 
        WHERE user_num = #{userNum}
    </delete>
    
	<!-- 좋아하는 음식, 싫어하는 음식입력 -->
    <insert id="insertFoodFavorite">
        INSERT INTO food_favorite (ff_favorite_food, user_num, fo_num)
        VALUES (#{isFavorite}, #{userNum}, #{foNum})
    </insert>
  	
  	<select id="findFavoriteFoodsBySub" resultType="kr.hi.project.dto.FoodDTO">
	    SELECT 
	        f.fo_num  AS foNum,
	        f.fo_name AS foName
	    FROM food_favorite ff
	    JOIN food f ON ff.fo_num = f.fo_num
	    WHERE ff.user_num = #{userNum} AND ff.ff_favorite_food = 1
	</select>
	
	<select id="findDislikeFoodsBySub" resultType="kr.hi.project.dto.FoodDTO">
	    SELECT 
	        f.fo_num  AS foNum,
	        f.fo_name AS foName
	    FROM food_favorite ff
	    JOIN food f ON ff.fo_num = f.fo_num
	    WHERE ff.user_num = #{userNum} AND ff.ff_favorite_food = 0
	</select>
	
	<!-- 가입하기전 중복체크 -->
	<select id="countByUserid" parameterType="string" resultType="int">
	    SELECT COUNT(*) FROM user WHERE user_id = #{userid}
	</select>
	
	<select id="countByUsername" parameterType="string" resultType="int">
	    SELECT COUNT(*) FROM user WHERE user_name = #{username}
	</select>
	
	<select id="countByEmail" parameterType="string" resultType="int">
	    SELECT COUNT(*) FROM user WHERE user_email = #{userEmail}
	</select>
	
</mapper>