<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 🌟 변경됨: namespace를 새로 만든 dao 패키지 경로로 정확히 맞춥니다 -->
<mapper namespace="kr.hi.project.dao.UserPrivacyDao">

    <select id="findUserByNum" resultType="kr.hi.project.dto.DietUserDTO">
        SELECT 
            user_num as userNum, 
            up_height as height,        
            up_weight as weight,         
            up_daily_kcal as targetCalorie,
            up_daily_carbs as carbs,       up_daily_protein as protein,   up_daily_fat as fat,           up_daily_natrium as sodium     FROM 
            user_privacy
        WHERE 
            user_num = #{userNum}
    </select>
    
    
    <!-- 프라이버시 정보 조회 [대빵님//추가]-->
    <select id="findNutritionTargetByUserNum"
        parameterType="int"
        resultType="kr.hi.project.dto.UserPrivacyDTO">

	    SELECT
	        user_num AS userNum,
	        up_daily_kcal AS userDailyKcal,
	        up_daily_carbs AS userDailyCarbs,
	        up_daily_protein AS userDailyProtein,
	        up_daily_fat AS userDailyFat,
	        up_daily_natrium AS userDailyNatrium
	    FROM user_privacy
	    WHERE user_num = #{userNum}
	</select>

</mapper>